=begin
#Harness feature flag service client apis

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.0.0
Contact: cf@harness.io
Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module OpenapiClient
  class MetricsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Send metrics to the Analytics server.
    # Send metrics to Analytics server
    # @param environment_uuid [String] environment parameter in query.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cluster Unique identifier for the cluster for the account
    # @option opts [Metrics] :metrics 
    # @return [nil]
    def post_metrics(environment_uuid, opts = {})
      post_metrics_with_http_info(environment_uuid, opts)
      nil
    end

    # Send metrics to the Analytics server.
    # Send metrics to Analytics server
    # @param environment_uuid [String] environment parameter in query.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cluster Unique identifier for the cluster for the account
    # @option opts [Metrics] :metrics 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def post_metrics_with_http_info(environment_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MetricsApi.post_metrics ...'
      end
      # verify the required parameter 'environment_uuid' is set
      if @api_client.config.client_side_validation && environment_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'environment_uuid' when calling MetricsApi.post_metrics"
      end
      # resource path
      local_var_path = '/metrics/{environmentUUID}'.sub('{' + 'environmentUUID' + '}', CGI.escape(environment_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cluster'] = opts[:'cluster'] if !opts[:'cluster'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'metrics'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"MetricsApi.post_metrics",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MetricsApi#post_metrics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
