=begin
#Harness feature flag service client apis

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.0.0
Contact: cf@harness.io
Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module OpenapiClient
  class ProxyApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Endpoint that the Proxy can use to authenticate with the client server
    # Endpoint that the Proxy can use to authenticate with the client server
    # @param [Hash] opts the optional parameters
    # @option opts [AuthenticateProxyKeyRequest] :authenticate_proxy_key_request 
    # @return [AuthenticationResponse]
    def authenticate_proxy_key(opts = {})
      data, _status_code, _headers = authenticate_proxy_key_with_http_info(opts)
      data
    end

    # Endpoint that the Proxy can use to authenticate with the client server
    # Endpoint that the Proxy can use to authenticate with the client server
    # @param [Hash] opts the optional parameters
    # @option opts [AuthenticateProxyKeyRequest] :authenticate_proxy_key_request 
    # @return [Array<(AuthenticationResponse, Integer, Hash)>] AuthenticationResponse data, response status code and response headers
    def authenticate_proxy_key_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProxyApi.authenticate_proxy_key ...'
      end
      # resource path
      local_var_path = '/proxy/auth'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'authenticate_proxy_key_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'AuthenticationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ProxyApi.authenticate_proxy_key",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProxyApi#authenticate_proxy_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets Proxy config for multiple environments
    # Gets Proxy config for multiple environments if the Key query param is provided or gets config for a single environment if an environment query param is provided
    # @param key [String] Accpets a Proxy Key.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_number PageNumber
    # @option opts [Integer] :page_size PageSize
    # @option opts [String] :cluster Unique identifier for the cluster for the account
    # @option opts [String] :environment Accepts an EnvironmentID. If this is provided then the endpoint will only return config for this environment. If this is left empty then the Proxy will return config for all environments associated with the Proxy Key.
    # @return [ProxyConfig]
    def get_proxy_config(key, opts = {})
      data, _status_code, _headers = get_proxy_config_with_http_info(key, opts)
      data
    end

    # Gets Proxy config for multiple environments
    # Gets Proxy config for multiple environments if the Key query param is provided or gets config for a single environment if an environment query param is provided
    # @param key [String] Accpets a Proxy Key.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_number PageNumber
    # @option opts [Integer] :page_size PageSize
    # @option opts [String] :cluster Unique identifier for the cluster for the account
    # @option opts [String] :environment Accepts an EnvironmentID. If this is provided then the endpoint will only return config for this environment. If this is left empty then the Proxy will return config for all environments associated with the Proxy Key.
    # @return [Array<(ProxyConfig, Integer, Hash)>] ProxyConfig data, response status code and response headers
    def get_proxy_config_with_http_info(key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProxyApi.get_proxy_config ...'
      end
      # verify the required parameter 'key' is set
      if @api_client.config.client_side_validation && key.nil?
        fail ArgumentError, "Missing the required parameter 'key' when calling ProxyApi.get_proxy_config"
      end
      # resource path
      local_var_path = '/proxy/config'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'key'] = key
      query_params[:'pageNumber'] = opts[:'page_number'] if !opts[:'page_number'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'cluster'] = opts[:'cluster'] if !opts[:'cluster'].nil?
      query_params[:'environment'] = opts[:'environment'] if !opts[:'environment'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProxyConfig'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ProxyApi.get_proxy_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProxyApi#get_proxy_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
